.bullets-white {
    .swiper-pagination-bullet {
        background: white !important;
    }

}
.bullets-grey {
    .swiper-pagination-bullet {
        background: #999999 !important;
    }
}
.bullets-10px {
    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
    }
}